node_modules
build
dist
coverage
*.log
.temp
.tmp
*.min.js
*.bundle.js
service-worker.js
asset-manifest.json
precache-manifest.*
.env*
.babelrc
.eslintrc.*
.prettierrc.*
.vscode/settings.json
src/App.test.js
src/setupTests.js